@using Taskker.Models
@using Taskker.Models.DAL
@model Tarea

<style>
    .dropdown-content {
        width: 200px !important;
    }

    .theme-colour {
        background-color: #d96d6d !important;
    }

    .theme-colour2 {
        background-color: #bf5e62 !important;
    }

    .input-color {
        color: white !important;
    }

    .input, .select-dropdown {
        color: white !important;
    }
</style>

<script>

</script>

<!-- Modal Structure -->
<div class="modal-content theme-colour2">
    <div class="row center-align">
        <h4 class="input-color">Crear tarea</h4>
    </div>
    @Html.ValidationSummary(false, "", new { @style = "color:red;font-weight:bold" })
    @using (Html.BeginForm("CreateTask", "Browse", FormMethod.Post, new { @class = "col s6"}))
    {
        <!-- Titulo -->
        <div class="row">
            <div class="input-field col s6 offset-s4">
                <input id="modal-task-titulo" type="text" class="validate input-color" name="titulo">
                <label for="modal-task-titulo">Titulo</label>
            </div>
        </div>
        <!-- Selector de tipo de tarea -->
        <div class="row">
            <div class="input-field col s4 offset-s4 input-color">
                <select name="tipo" class="input-color">
                    <option value="@TareaTipo.SinTipo" disabled selected>Seleccionar tipo</option>
                    <option value="@TareaTipo.Desarrollo">Desarrollo</option>
                    <option value="@TareaTipo.Tarea">Tarea</option>
                </select>
                <label>Tipo de tarea</label>
            </div>
        </div>
        <!-- Chips para asignees -->
        <div class="row">
            <div class="col s4 offset-s4">
                <input type="hidden" id="chips-values" name="asignees" />
                <div id="asignees-chips" class="chips-autocomplete input-color"></div>
            </div>
        </div>
        <!-- Descripcion -->
        <div class="row">
            <div class="input-field col s6 offset-s4">
                <textarea id="textarea1" class="materialize-textarea input-color" name="descripcion"></textarea>
                <label for="textarea1">Descripcion</label>
            </div>
        </div>
        
        <div class="row">
            <div class="col s6 offset-s4">
                <input type="time" class="input-color" min="00:00" max="23:59" value="00:00" name="estimado"/>
            </div>
        </div>

        @*<div class="row">

            <div class="col s6 offset-s4">
                <div class="input-field dropdown-trigger" data-target="dropdown-hours" id="input-hours">
                    <input id="hours" placeholder="Tiempo estimado" type="text" class="validate input-color" name="estimado">
                </div>
            </div>

            <div class="col s6 offset-s4">
                <ul id="dropdown-hours" class="dropdown-content">
                </ul>
            </div>
        </div>*@
        <!-- Submit -->
        <div class="row">
            <div class="col s6 offset-s5">
                <button class="btn waves-effect waves-light theme-colour" type="submit" name="action">
                    Crear
                    <i class="material-icons right">done</i>
                </button>
            </div>
        </div>
    }


</div>
<div class="modal-footer theme-colour2">
    <a href="#!" class="modal-close waves-effect theme-colour2 btn-flat">Close</a>
</div>

<script>
    $(document).ready(function () {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);

        var elems = document.querySelectorAll('.autocomplete');
        M.Autocomplete.init(
            elems,
            {
                minLength: 1,
                onAutocomplete: function (elem, data) {
                }
            }
        );

        M.Dropdown.init(
            document.querySelectorAll('#input-hours'),
            {
                coverTrigger: false,
                autoTrigger: false,
                onCloseStart: function () {
                    // Una vez que se seleccione la opcion del dropdown
                    // Se cierra, por lo que obtenemos la primer opcion que aparezca
                    var textinput = document.getElementById('hours')
                    var elemText = this.dropdownEl.firstChild.innerText
                    if (elemText != undefined) {
                        textinput.value = this.dropdownEl.firstChild.innerText
                    }
                }
            }
        )

        var usuarios = {}
        var chipsUsers = []

        $.ajax({
            type: 'GET',
            url: "/Browse/GetUsers",
            success: function (data) {
                debugger;
                for (const [key, value] of Object.entries(data)) {
                    usuarios[key] = value;
                    chipsUsers.push({tag: key, image: value})
                }
            }
        });

        var elems = document.querySelectorAll('.chips-autocomplete');
        M.Chips.init(
            elems,
            {
                data: chipsUsers,
                onChipAdd: function (chip) {
                    var instance = M.Chips.getInstance($('#asignees-chips'))
                    var selected = []
                    selected = instance.chipsData.map(
                        function (value, index) {
                            return value['tag']
                        }
                    )
                    document.getElementById("chips-values")
                        .setAttribute('value', selected.join(','))
                },
                onChipDelete: function () {
                    var instance = M.Chips.getInstance($('#asignees-chips'))
                    var data = instance.chipsData
                    selected = data.map(
                        function (value, index) {
                            return value['tag']
                        }
                    )
                    document.getElementById("chips-values")
                        .setAttribute('value', selected.join(','))
                },
                autocompleteOptions: {
                    data: usuarios
                },
                placeholder: 'Asignar'
            }
        );
    })
</script>
