@using Taskker.Models
@using Taskker.Models.DAL
@model Tarea

<style>
    .dropdown-content {
        width: 200px !important;
    }
</style>

<!-- Modal Structure -->
<div class="modal-content">
    <h4>Crear tarea</h4>
    @Html.ValidationSummary(false, "", new { @style = "color:red;font-weight:bold" })
    @using (Html.BeginForm("CreateTask", "Browse", FormMethod.Post, new { @class = "col s6" }))
    {
        <!-- Titulo -->
        <div class="row">
            <div class="input-field col s6">
                <input id="modal-task-titulo" type="text" class="validate" name="titulo">
                <label for="modal-task-titulo">Titulo</label>
            </div>
        </div>
        <!-- Selector de tipo de tarea -->
        <div class="row">
            <div class="input-field col s6">
                <select name="tipo">
                    <option value="@TareaTipo.SinTipo" disabled selected>Seleccionar tipo</option>
                    <option value="@TareaTipo.Desarrollo">Desarrollo</option>
                    <option value="@TareaTipo.Tarea">Tarea</option>
                </select>
                <label>Tipo de tarea</label>
            </div>
        </div>
        <!-- Chips para asignees -->
        <div class="row">
            <div class="col s6">
                <input type="hidden" id="chips-values" name="asignees" />
                <div id="asignees-chips" class="chips-autocomplete"></div>
            </div>
        </div>
        <!-- Descripcion -->
        <div class="row">
            <div class="input-field col s6">
                <textarea id="textarea1" class="materialize-textarea" name="descripcion"></textarea>
                <label for="textarea1">Descripcion</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="input-field dropdown-trigger" data-target="dropdown-hours" id="input-hours">
                    <input id="hours" placeholder="Tiempo estimado" type="text" class="validate" name="estimado">
                </div>
            </div>

            <div class="col s6">
                <ul id="dropdown-hours" class="dropdown-content">
                </ul>
            </div>
        </div>
        <!-- Submit -->
        <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Crear
                    <i class="material-icons right">done</i>
                </button>
            </div>
        </div>
    }


</div>
<div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
</div>

<script>
    $(document).ready(function () {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);

        var elems = document.querySelectorAll('.autocomplete');
        M.Autocomplete.init(
            elems,
            {
                minLength: 1,
                onAutocomplete: function (elem, data) {
                    console.log('onAutocomplete')
                    console.log(elem);
                    console.log(data);
                }
            }
        );

        M.Dropdown.init(
            document.querySelectorAll('#input-hours'),
            {
                coverTrigger: false,
                autoTrigger: false,
                onCloseStart: function () {
                    // Una vez que se seleccione la opcion del dropdown
                    // Se cierra, por lo que obtenemos la primer opcion que aparezca
                    var textinput = document.getElementById('hours')
                    var elemText = this.dropdownEl.firstChild.innerText
                    if (elemText != undefined) {
                        textinput.value = this.dropdownEl.firstChild.innerText
                        console.log('correcto')
                    } else {
                        console.log('no habia elementos')
                    }
                }
            }
        )

        document.getElementById('hours').addEventListener('input', function (elem) {
            var estimated = {}
            // Obtenemos el valor del input
            var time = elem.srcElement.value
            var matches = time.match(/\d+\s*[a-zA-Z]+/gu)
            var hour = ''
            var minute = ''
            var second = ''

            if (matches == null) {
                console.log('Matches null')
                return;
            }

            matches.forEach(function (value) {
                var number = value.replace(/[a-zA-Z\s]+/, '')
                var unit = value.replace(/[\d\s]+/, '')

                if ('horas'.includes(unit.toLowerCase())) {
                    estimated['H'] = (estimated['H'] ?? 0) + Number(number)
                } else if ('minutos'.includes(unit.toLowerCase())) {
                    estimated['M'] = (estimated['M'] ?? 0) + Number(number)
                } else if ('segundos'.includes(unit.toLowerCase())) {
                    estimated['S'] = (estimated['S'] ?? 0) + Number(number)
                }

            })

            Object.keys(estimated).reduce(function (acum, key) {
                var value = estimated[key]
                switch (key) {
                    case 'H':
                        hour = `${value} ${value == 1 ? "Hora" : "Horas"}`
                        break
                    case 'M':
                        minute = `${value} ${value == 1 ? "Minuto" : "Minutos"}`
                        break
                    case 'S':
                        second = `${value} ${value == 1 ? "Segundo" : "Segundos"}`
                }

                return acum
            }, {})

            time = `${hour} ${minute} ${second}`

            // Obtenemos la instancia del dropdown
            var instance = M.Dropdown.getInstance($('#input-hours'));

            // Creamos un elemento para el dropdown
            var complete = document.createElement('li')
            complete.innerText = time

            // Eliminamos todos los elementos hijos que pueda tener el dropdown
            while (instance.dropdownEl.firstChild) {
                instance.dropdownEl.removeChild(instance.dropdownEl.lastChild);
            }

            // Appendeamos el nuevo elemento creado
            instance.dropdownEl.appendChild(complete)

            // Abrimos el dropdown
            instance.open()
        });

        var usuarios = {}
        var chipsUsers = []

        $.ajax({
            type: 'GET',
            url: "/Browse/GetUsers",
            success: function (data) {
                for (const [key, value] of Object.entries(data)) {
                    usuarios[key] = value;
                    chipsUsers[key] = value;
                }
            }
        });

        var elems = document.querySelectorAll('.chips-autocomplete');
        M.Chips.init(
            elems,
            {
                data: chipsUsers,
                onChipAdd: function (chip) {
                    var instance = M.Chips.getInstance($('#asignees-chips'))
                    var selected = []
                    selected = instance.chipsData.map(
                        function (value, index) {
                            return value['tag']
                        }
                    )
                    document.getElementById("chips-values")
                        .setAttribute('value', selected.join(','))
                },
                onChipDelete: function () {
                    var instance = M.Chips.getInstance($('#asignees-chips'))
                    var data = instance.chipsData
                    selected = data.map(
                        function (value, index) {
                            return value['tag']
                        }
                    )
                    document.getElementById("chips-values")
                        .setAttribute('value', selected.join(','))
                },
                autocompleteOptions: {
                    data: usuarios
                },
                placeholder: 'Asignar'
            }
        );
    })
</script>
