@using Taskker.Models.DAL
@model Tarea

<!-- Modal Structure -->
<div class="modal-content">
    <h4 id="modal-title">@Model.Titulo</h4>
    <p id="modal-text">@Model.Descripcion</p>
    @foreach (var asignee in Model.Usuarios)
    {
        <p>@asignee.NombreApellido</p>
    }
</div>
<div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
</div>
