@{
    ViewBag.Title = "Home Page";
}

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Taskker</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Ingresar</a></li>
            <li><a href="#">Registrarse</a></li>
        </ul>
    </div>
</nav>

