@{
    ViewBag.Title = "Home Page";
}

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Taskker</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="@Url.Action("Login", "Auth")">Ingresar</a></li>
            <li><a href="@Url.Action("Register", "Auth")">Registrarse</a></li>
        </ul>
    </div>
</nav>

<div class="row" id="showcase">
    
</div>

