 
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

@* 

    aca hay que mostrar el nombre del usuario
    el email
    la foto de perfil, etc

    hay que hacer un formulario donde se muestren los datos ya cargados
    para que el usuario los modifique.

    Tambien hay que agregar un boton para subir otra foto de perfil

    el usuario se va a actualizar independientemente de si verdaderamente se modifico o no.

*@

