@using Taskker.Models

@model JoinGroupModel

@{
    ViewBag.Title = "Join";
}

<script>
    $(document).ready(function () {
        var selected = ""
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(
            elems,
            {
                onOpenStart: function (modal, trigger) {
                    console.log('Se abre el modal de detalles')
                    $.ajax({
                        type: 'GET',
                        url: "/Groups/GroupDetails",
                        data: { gname: selected },
                        success: function (data) {
                            $("#group-details").html(data);
                        }
                    });
                },
                onOpenEnd: function (modal, trigger) {
                    console.log('Termino de abrirse el modal create')
                }
            }
        );

        $.ajax({
            url: "/Groups/GetGroups",
            type: 'GET',
            success: function (data) {
                var data_dict = {}

                JSON.parse(data).forEach(function (nombre) {
                    data_dict[nombre] = null
                })

                console.log(data_dict)

                var elems = document.querySelectorAll('.autocomplete');
                M.Autocomplete.init(
                    elems,
                    {
                        data: data_dict,
                        onAutocomplete: function (elem) {
                            selected = elem
                            var modal = M.Modal.getInstance($("#group-details"));
                            modal.open()
                        }
                    }
                );
            }
        });
    })
</script>


<nav>
    <div class="nav-wrapper">
        <a href="@Url.Action("Index", "Home")" class="brand-logo">Taskker</a>
    </div>
</nav>

<div class="container">
    <!-- Fila -->
    <div class="row">
        <div class="row">
            @Html.ValidationSummary(false, "", new { @style = "color:red;font-weight:bold" })
        </div>
        <!-- Columna -->
        <div class="col s6 offset-s3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Unirse a un grupo</span>
                    <!--Fila para email-->
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.EditorFor(
                               model => model.Nombre,
                               new { htmlAttributes = new {
                                       @class = "autocomplete",
                                       @id = "autocomplete-input"
                                    }
                               })
                            <label for="nombre">Nombre del grupo</label>
                        </div>
                    </div>
                </div>
                <!--Action-->
                <div class="card-action">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="group-details" class="modal">
</div>
