<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
	<contexts>
		<context type="Taskker_Desktop.Models.DAL.TaskkerContext, Taskker_Desktop">
			<databaseInitializer type="Taskker_Desktop.Models.DAL.TaskkerInitializer, Taskker_Desktop" />
		</context>
	</contexts>
	  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
		  <parameters>
			  <parameter value="mssqllocaldb" />
		  </parameters>
	  </defaultConnectionFactory>
	<providers>
	  <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	</providers>
  </entityFramework>
	<connectionStrings>
		<!-- <add name="TaskkerContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BRC97U1;initial catalog=taskker;user id=taskker;password=taskker;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="TaskkerContext" connectionString="Data Source=DESKTOP-BRC97U1;Initial Catalog=taskker;User ID=taskker;Password=taskker" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>